* {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    box-sizing: border-box;
    font-size: medium;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0;
    color: white;
}

h1 {
    font-size: xx-large;
}

body {
    margin: 0;
    background-image: url(./images/travel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.main-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.wrapper {
    grid-column-start: 2;
    grid-column-end: 4;
}

.hostel-name {
    font-size: 1.5rem;
    color: grey;
}

.hostel-listing::before {
    padding: 10px;
    background-color: #ccc;
    opacity: 50%;
}

.hostel-description {
    padding: 5px;
}

li {
    list-style-type: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    width: 40vw;
    height: 5vh;
    margin: 7px;
    text-align: center;
    cursor: pointer;
    border-radius: 26px;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

form input[type=text] {
    color: black !important;
    text-transform: uppercase;
    font-size: large;
    background: white;
    border: 4px solid black !important;
    display: inline-block;
    transition: all 0.3 ease 0s;
}

form input[type=text]:hover {
    background-color: rgba(255, 0, 0, 0.671) !important;
    border-radius: 50px;
    transition: all 0.3 ease 0s;
    border-color: rgba(95, 20, 20, 0.548) !important;
}

input[type=text] {
    width: 100%;
    padding: 4vh;
    margin: 1vw;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
}

button {
    width: 100%;
    background-color: rgba(190, 28, 55, 0.877);
    color: white;
    padding: 2vh;
    margin: 1vw;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: large;
    border-radius: 26px;
    text-align: center;
}

button:hover {
    background: rgba(255, 0, 0, 0.671) !important;
    border-radius: 50px;
    border-color: rgba(95, 20, 20, 0.548) !important;
    transition: all 0.3 ease 0s;
}

h2 {
    width: 100%;
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

span {
    display: block;
    float: left;
    background: rgba(110, 15, 15, 0.822);
    color: black;
    opacity: 0.9;
    font-weight: bold;
}